body {
    // padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}
/* prevent drag */
img {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.container {
    width: 1324px;
}

#submitbox {
    margin-top: 10px;
}

#appbox {
    display: block;
    position: relative;
}

#canvasbg {
    max-width: 1024px;
}

canvas {
    border: 1px solid #333;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1;
    cursor: crosshair;
}

#infobox {
    position:absolute;
    left: 1034px;
    top: 0px;
}

.help {
    max-width: 300px;
}
