/* Disable Bootstrap responsive layout -- this a desktop app */
.container {
    max-width: none !important;
    margin-right: 0;
    margin-left: 0;
}

#submitbox {
    margin-top: 10px;
}

#appbox {
    display: block;
    position: relative;
}

#canvasbg {
    max-width: 1024px;
}

canvas {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1;
    cursor: crosshair;
}

#review {
    display: none;
}

.btn {
    padding: 6px 5px;
    font-size: 13px;
}